@{
    ViewBag.Title = "_Layouttour";
}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Around the World</title>
<meta charset="utf-8">
<link rel="stylesheet" href="~/content/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/content/style.css" type="text/css" media="all">
<script type="text/javascript" src="~/Script/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="~/Script/cufon-yui.js"></script>
<script type="text/javascript" src="~/Script/cufon-replace.js"></script>
<script type="text/javascript" src="~/Script/Myriad_Pro_600.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="index.html" id="logo">Around the World</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
          <div class="wrapper">
          </div>
        </div>
      </div>
      <nav>
        <ul id="menu">
          <li><a href="index.html" class="nav1">Home</a></li>
          <li><a href="/Home/About" class="nav2">About Us </a></li>
          <li><a href="/Home/tour" class="nav3">Our Tours</a></li>
          <li><a href="/Home/Destinations" class="nav4">Destinations</a></li>
          <li class="end"><a href="/Home/contacts.html" class="nav5">Contacts</a></li>
        </ul>
      </nav>





        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts",required:false)
 <div class="body1">
  <div class="main">
    <footer>
      <div class="footerlink">
        <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
        <p class="rf"><a href="http://all-free-download.com/free-website-templates/">Free CSS Templates</a> by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
        <div style="clear:both;"></div>
      </div>
    </footer>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
