@{
    ViewBag.Title = "London";
    Layout = "~/Views/Shared/_Layouttour.cshtml";
}


<h2>London</h2>
<html>

     <body>  <table style="margin-left:300px">

            <tr><td><h1>London Eye </h1></td><td><h1>Tour Id=001</h1></td></tr>
            <tr><td><h1>Cities</h1></td><td><h1>Number of days</h1></td></tr>
            <tr><td><p>London Eye &nbsp</p></td> <td><p>&nbsp &nbsp &nbsp 2</p></td></tr>
           <tr><td><p>Harrods &nbsp</p></td> <td><p>&nbsp &nbsp &nbsp 1</p></td></tr>
           <tr><td><p>British Museum &nbsp</p></td> <td><p>&nbsp &nbsp &nbsp 1</p></td></tr>
         </table>
         
         </body>

          
        
					

	</html>

	